@font-face
  font-family: "Muller"
  font-weight normal
  src: url("/Muller-Regular/MullerRegular.woff") format("woff"), url("/Muller-Regular/MullerRegular.svg") format("svg")
@font-face
  font-family: "Muller"
  font-weight bold
  src: url("/Muller-Bold/MullerBold.woff") format("woff"), url("/Muller-Bold/MullerBold.svg") format("svg")
@font-face
  font-family: "Muller"
  font-weight light
  src: url("/Muller-Light/MullerLight.woff") format("woff"), url("/Muller-Light/MullerLight.svg") format("svg")
