<template>
  <div class="back">
    <div class="before" />
    <div class="content">
      <p>Политика конфиденциальности</p>
      <p style="flex: 2">Условия использования</p>
      <p>(с) LittleBro, 2018</p>
      <img :src="require('../assets/vk-social.svg')" />
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.back
  width 100%
  background #3F3827
  color white
  .content
    display flex
    flex-wrap wrap
    margin-left 100px
    margin-right 100px
    justify-content space-between
    align-items center
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    font-size: 15px;
    img
      margin-left 20px
    p
      margin-left 20px
      &:first-child
        margin-left 0
  .before
    width 100%
    height 5vw
    position relative
    top -1px
    background url('../assets/Subtract.svg') no-repeat center top
    background-size cover
@media (max-width: 800px)
  .back
    padding-bottom 40px
    .content
      flex-direction column
      margin 0
      p
        white-space: nowrap
</style>
