<template>
  <div class="header">
    <div class="main">
      <img :src="require('../assets/assembly.png')" />
      <h1>LittleBro</h1>
    </div>
    <div class="money">
      <img style="height: 14px" :src="require('../assets/money.svg')" />
      <p>Твой баланс - <b>25 монет</b></p>
    </div>
    <!-- <router-link to="profile">Мой профиль</router-link> -->
    <!-- <router-link to="history">Статистика</router-link> -->
    <router-link to="/">на главную</router-link>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="stylus" scoped>
.header
  width 100%
  height 90px
  display flex
  align-items center
  justify-content space-between
  .money
    display flex
    margin-left 130px
    align-items center
    height 100%
    flex 2
    p
      margin-left 10px
      font-family: Roboto;
      font-weight: 300;
      line-height: 25px;
      font-size: 15px;
      color: #110F07;
  .main
    display flex
    align-items center
    h1
      font-family: "Muller";
      font-size: 25px;
      color: #110F07;
      margin-left 4%
    img
      height 40px
  a
    font-family: Roboto;
    line-height: 25px;
    font-size: 15px;
    color: #110F07;
    text-decoration none
    margin-left 30px
@media (max-width: 880px)
  .header
    .money
      margin-left 30px
@media (max-width: 765px)
  .header
    flex-direction column
    height auto
    padding-bottom 20px
    a
      white-space: nowrap
    .money
      flex 1
      p
        white-space: nowrap
</style>
