<template>
  <div>
    <div class="main">
      <Header />
      <div class="content">
        <h1>Статистика</h1>
        <p class="desc">Интеллигенция, по определению, выстраивает композиционный экспрессионизм. Бессознательное монотонно имитирует онтологический статус искусства.</p>
        <div class="bths">
          <button :style="'background:#F2F6FA'" @click="setPeriod(0)">Сегодня</button>
          <button :style="'background:' + period == 1? '#F2F6FA' : ''" @click="setPeriod(1)">Неделя</button>
          <button :style="'background:' + period == 2? '#F2F6FA' : ''" @click="setPeriod(2)">Месяц</button>
        </div>
        <div class="story">
          <div class="items">
            <div class="item" v-for="(i,n) in story" :key="n">
              <img :src="i.img">
              <p class="name">{{i.name}}</p>
              <span>Совместимость {{parseInt(i.near * 100)}}%</span>
            </div>
          </div>
          <div class="bottom_button">
            <Share />
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from './header'
import Footer from './footer'
import Share from './share'
export default {
  components: {Header, Footer, Share},
  methods: {
    setPeriod(p){
      console.log(p);
      this.period = p;
    }
  },
  data(){
    return {
      period: 0,
      story:[{
        img: "http://placehold.it/200x200",
        name: "Генадий Петров",
        near: 0.99
      },
      {
        img: "http://placehold.it/200x200",
        name: "Генадий Петров",
        near: 0.99
      },
      {
        img: "http://placehold.it/200x200",
        name: "Генадий Петров",
        near: 0.99
      }]
    }
  },
  mounted(){
    if( !this.$cookie.get('uid') ) {
      this.$router.push({path: '/'})
    }
  }
}
</script>

<style lang="stylus" scoped>
imageBorder()
  padding 10px
  background: #F2F6FA
  border: 1px solid #D3D3D1
  border-radius 50%
.main
  margin-left 84px
  margin-right 84px
  width calc(100% - 84*2px)
  .bottom_button
    margin-bottom 90px
    margin-top 50px
  .story
    text-align center
  .items
    display flex
    justify-content center
    flex-wrap wrap
    max-width 80%
    margin-left 10%
  .item
    margin 20px 40px
    text-align center
    .name
      font-size: 18px;
      color: #110F07;
      white-space nowrap
    img
      imageBorder()
      width 120px
      height 120px
  .story
    margin-top 56px
  .bths
    display flex
    justify-content center
    border-radius: 3px
    margin-top 50px
    button
      width 190px
      max-width 25vw
      height 40px
      border: 1px solid #D3D3D1
      box-sizing: border-box
      font-family: Roboto
      font-style: normal
      font-weight: 300
      line-height: 21px
      font-size: 15px
      text-align: center
      color: rgba(17, 15, 7, 0.5)
      outline none
      cursor pointer



  .content
    width 100%
    border 1px solid #D3D3D1
    margin-bottom 100px
    h1
      text-align center
      margin-top 90px
    .desc
      margin-top 44px
      text-align center
      max-width calc(100% - 200px)
      margin-left 100px
@media (max-width: 640px)
  .main
    margin-left 10px
    margin-right 10px
    width calc(100% - 20px)

</style>
