<template>
  <div>
    <!-- <UI /> -->
    <Lead />
    <Section1 />
    <Section2 />
    <div class="section_3">
      <div class="desc">
        <h2>Узнай профиль друга</h2>
        <p>Интеллигенция, по определению, выстраивает композиционный экспрессионизм. Бессознательное монотонно имитирует онтологический статус искусства. Эзотерическое, на первый взгляд, дает сокращенный фарс, что-то подобное можно встретить в работах Ауэрбаха и Тандлера.</p>
        <Vklog />
      </div>
      <div class="pic">
        <img :src="require('../assets/bottom.png')" />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Footer from './footer'
import UI from './ui'
import Lead from './lead'
import Vklog from './vklog'
import Section1 from './section_1'
import Section2 from './section_2'

import { api } from '../main'

export default {
  components: {Footer, UI, Section2,Section1, Vklog, Lead},
  mounted(){
    this.parseLink();
  },
  methods: {
    parseLink: async () => {
      await new Promise(res => setTimeout(res,300));
      const l = window.location.href.split('code=')[1];
      if(l && api){
        try {
          const { data } = await api.get('/auth/'+l.split('#')[0]);
          localStorage.uid = data.cookie.uid;
          localStorage.token = data.cookie.token;
          window.location.href = data.url;
        } catch (e) {
          alert(e);
          window.location.href = '/';
        }
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
p
  font-family: 'Open Sans', sans-serif
.section_3
  display flex
  align-items center
  div
    width 50%
    float right
    text-align right
  .desc
    margin-right 64px
    margin-left 91px
  h2
    font-family: Muller;
    line-height: 49px;
    font-size: 35px;
    text-align: right;
    color: #110F07;
    margin 0
  p
    margin-top 45px
    margin-bottom 50px
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-size: 18px;
    text-align: right;
    color: #110F07;
  img
    width 100%
    float right
@media (max-width: 960px)
  .section_3
    margin-bottom 54px
    p
    h2
      text-align: left
    .desc
      margin 0
      width 90%
      max-width 640px
      margin auto
    div
      float left
      text-align left
    .pic
      display none



</style>
