<template>
  <div class="image_title">
    <div class="content">
      <div class="lead">
        <div class="main">
          <img :src="require('../assets/assembly.png')" />
          <h1>LittleBro</h1>
        </div>
        <p>Малой брат поможет лучше<br/> понимать себя и окружение!</p>
        <div class="call">
          <b>Зайди и узнай свой профиль!</b>
        </div>
        <Vklog class="log" />
      </div>
      <div class="pic">
        <img :src="require('../assets/fingers.png')" />
      </div>
    </div>
    <div class="after">
    </div>
  </div>
</template>

<script>
import Vklog from './vklog'
export default {
  components: {Vklog}
}
</script>

<style lang="stylus" scoped>
.image_title
  width 100vw
  background: linear-gradient(180deg, #FDF0C1 29.64%, #FFFFFF 117.45%);
  .content
    display flex
    margin-bottom 30px
    .lead
    .pic
      width 50%
    .pic
      img
        width 45%
        max-width 580px
        top 0
        right 0
        position absolute
  .after
    width 100%
    height 4vw
    background url("../assets/back.svg") no-repeat center bottom
    background-size cover
  .lead
    padding-top 110px
    margin-left 180px
    .call
      margin-top 40px
      margin-bottom 50px
      font-family: Muller;
      line-height: 42px;
      font-size: 30px;
      color: #110F07;
    p
      font-family: Muller;
      line-height: 49px;
      font-size: 35px;
      color: #110F07;
      max-width: 600px;
      margin 0
      margin-top 14px
    .main
      display flex
      align-items center
      margin 0
      max-width 100%
      img
        height 90px
      h1
        font-family: "Muller"
        font-size: 75px
        color: #110F07
        margin 0
@media (max-width: 1180px)
  .image_title
    .lead
      margin-left 40px
@media (max-width: 995px)
  .image_title
    .content
      justify-content center
      .lead
        margin-left 0
        width auto
        p
          max-width 80vw
      .pic
        display none
@media (max-width: 480px)
  .image_title
    .lead
      .log
      .call
      p
        margin-left 20px
      .main
        margin-left 10px
        img
          height 18vw
        h1
          font-size 14vw
</style>
