<template lang="html">
  <div class="full_f">
    <h1>Вы не имеете доступа к этой странице...</h1>
    <router-link :to="{ name: '/', params: {} }">на главную</router-link>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">

</style>
