<template>
  <div>
    <div v-if="error" class="full_f">
      <h1>Произошка ошибка</h1>
      <router-link :to="{ name: '/', params: {} }">на главную</router-link>
    </div>
    <div v-if="!error" class="main">
      <Header />
      <div class="content">
        <div class="you">
          <h2>{{you.main}}</h2>
          <p>{{you.desc}}</p>
        </div>
        <div class="type">
          <h2>{{you.type}}</h2>
          <img class="ava" :src="you.ava" />
          <p style="max-width: 750px;width: 80%">{{you.fulldesc}}</p>
          <div class="metrics">
            <div v-for="(k,i) in metrics" :key="i" class="metric">
              <div class="info">
                <span>
                  {{k.text}}
                </span>
                <span style="color: rgba(17, 15, 7, 0.5)">
                  {{parseInt(k.value * 100)}}%
                </span>
              </div>
              <div class="sc">
                <div class="indie" :style="'background:'+ (i%3===0 ? '#AFCCEA' : '#FFBE73') +'; width: '+(k.value * 100) + '%' "></div>
              </div>
            </div>
            <div style="margin-top: 50px" class="bth_share">
              <Share />
            </div>
          </div>
          <div class="after" />
        </div>
        <!-- <div class="interest">
          <h2>Интересы</h2>
          <div class="items">
            <div class="item" v-for="(i,n) in interests" :key="n">
              <img :src="i.img">
              <p>{{i.name}}</p>
            </div>
          </div>
          <div class="bth_share">
            <Share />
          </div>
          <div class="after" />
        </div> -->
        <div class="friends">
          <h2>ТОП-5 групп</h2>
          <div class="items">
            <div class="item" v-for="(i,n) in friends.slice(0, slf )" :key="n">
              <img :src="i.ava">
              <p class="name">{{i.name.slice(0,20)}}</p>
              <!-- <span>Совместимость {{parseInt(i.near * 100)}}%</span> -->
            </div>
          </div>
          <div class="bottom_button">
            <img @click="slf = friends.length" v-if="slf === 5" style="cursor: pointer" :src="require('../assets/watchall.svg')" />
            <Share />
          </div>
        </div>
      </div>
    </div>
    <Footer v-if="!error" />
  </div>
</template>

<script>
import Header from './header'
import Footer from './footer'
import Share from './share'

import { api } from '../main'

export default {
  components: {Header, Footer, Share},
  mounted(){
    // if( !this.$cookie.get('uid') ) {
    //   this.$router.push({path: '/'})
    // }
    //
    // console.log(data);
    // this.interests = data.map( it => ({
    //   name: it.name,
    //   img: it.path
    // }))

    // VK.Auth.getLoginStatus( session => {
    //   if ( session.status !== "connected" ) this.$router.push('/');
    //   VK.Api.call('users.get', {v:"5.73", fields: 'photo_200'}, res => {
    //     if(res.response){
    //       this.you.main = "Ты – "+res.response[0].first_name;
    //       this.you.ava = res.response[0].photo_200;
    //     }
    //   })
    //   VK.Api.call('friends.get', {v:"5.73", fields: 'photo_200', count: 5, offset: Math.floor(Math.random() * 30)}, res => {
    //     if(res.response){
    //       this.friends = res.response.items.map(e=> ({
    //         img: e.photo_200 ,
    //         name: `${e.first_name} ${e.last_name}`,
    //         near: Math.random()
    //       }))
    //     }
    //   })
    // })
  },
  beforeRouteEnter (to, from, next) {
    if(localStorage.uid !== to.params.id){
      next({ path: '/login', query: { redirect: to.fullPath }});
    }else{
      next(async vm => {
        vm.uid = to.params.id;
        const { data } = await api.get('/teststat/'+to.params.id);
        if(!data.error){
          console.log(data);
          vm.metrics = data.metrics;
          vm.you.main = `Ты - ${data.name}`;
          vm.you.desc = data.desc;
          vm.you.ava = data.ava;
          vm.you.type = data.type;
          vm.you.fulldesc = data.typedesc;
          vm.friends = data.top;
        }else{
          data.error = true;
        }
      })
    }
  },
  // async asyncData(){
  //   const { data } = await api.get('/teststat/'+to.params.id);
  //   const { desc, ava , error, type } = data;
  //   console.log(data);
  //   return {
  //     metrics: data.metrics,
  //     you: {
  //       main: `Ты - ${data.name}`,
  //       desc, ava , error,
  //       type, fulldesc: data.typedesc
  //     }
  //   }
  // },
  data(){
    return {
      uid: 0,
      slf: 5,
      you: {
        main: "Ты - гедонист",
        desc: "любишь яркие эмоции и всегда стремишься попробовать все новое!",
        ava: "https://placehold.it/350x350",
        type: "Тип ENTP (Дон Кихот)",
        fulldesc: "Естественно-научные интересы в сочетании с романтическим отношением к жизни, а также постоянное творческое горение создают тот драйв, который привлекает к нему множество людей. С ним забавно не только решать задачки, но и весело проводить время. Он и сам любит повеселиться от души, погулять на полную катушку. Его быстрый ум и способность держать в памяти сотни анекдотов обеспечивают ему неизменный успех в компании. Он нравится девушкам, а поскольку и они ему очень нравятся - причем сразу все - ему нелегко выбрать подругу."
      },
      error: false,
      friends: [
        {
          img: "http://placehold.it/200x200",
          name: "Генадий Петров",
          near: 0.99
        },
        {
          img: "http://placehold.it/200x200",
          name: "Генадий Петров",
          near: 0.99
        },
        {
          img: "http://placehold.it/200x200",
          name: "Генадий Петров",
          near: 0.99
        },
        {
          img: "http://placehold.it/200x200",
          name: "Генадий Петров",
          near: 0.99
        },
        {
          img: "http://placehold.it/200x200",
          name: "Генадий Петров",
          near: 0.99
        }
      ],
      interests: [
        {
          img: "http://placehold.it/200x200",
          name: "коты"
        },
        {
          img: "http://placehold.it/200x200",
          name: "ислам"
        }
      ],
      metrics: [
        {
          text: "Общительность",
          value: 0.5
        },
        {
          text: "Задумчивость",
          value: 0.15
        },
        {
          text: "Дружелюбие",
          value: 0.85
        },
        {
          text: "Планирование",
          value: 0.25
        },
        {
          text: "Внимательность",
          value: 0.55
        },
        {
          text: "Мечтательность",
          value: 0.85
        },
        {
          text: "Рассчетливость",
          value: 0.05
        },
        {
          text: "Гибкость",
          value: 0.95
        }
      ]
    }
  }
}
</script>

<style lang="stylus" scoped>
.bth_share
  margin-bottom 50px
  cursor pointer
.after
  margin auto
  width calc(100% - 200px)
  border-bottom 1px solid #D3D3D1
imageBorder()
  padding 10px
  background: #F2F6FA
  border: 1px solid #D3D3D1
  border-radius 50%
.main
  margin-left 84px
  margin-right 84px
  width calc(100% - 84*2px)
  .content
    width 100%
    border 1px solid #D3D3D1
    margin-bottom 100px
    .friends
      .bottom_button
        display flex
        justify-content center
        margin-top: 40px;
        margin-bottom: 90px
        img
          margin-right 30px
      text-align center
      .items
        display flex
        justify-content center
        flex-wrap wrap
        max-width 80%
        margin-left 10%
      .item
        margin 20px 40px
        span
          font-weight: 300;
          line-height: 21px;
          font-size: 13px;
          text-align: center;
          color: rgba(17, 15, 7, 0.75);
        .name
          font-family: Roboto;
          line-height: 30px;
          font-weight 500
          font-size: 18px;
          text-align: center;
          color: #110F07
          margin 0
          margin-top 10px
        img
          imageBorder()
          width 120px
          height 120px
      h2
        margin-top 50px
        line-height: 42px;
        font-size: 30px;
        color: #110F07;
    .interest
      text-align center
      .items
        display flex
        justify-content center
        flex-wrap wrap
        max-width 80%
        margin-left 10%
      .item
        margin 20px 40px
        p
          line-height: 30px;
          font-size: 18px;
          text-align: center;
          color: #110F07;
        img
          imageBorder()
          width 120px
          height 120px
      h2
        margin-top 50px
        line-height: 42px;
        font-size: 30px;
        color: #110F07;
    .metrics
      display flex
      justify-content center
      flex-wrap wrap
      width 80%
      max-width 960px
      margin auto
      margin-top 50px
      margin-bottom 50px
      .metric
        width 370px
        margin-top 30px
        &:nth-child(even)
          margin-left 50px
        &:nth-child(odd)
          margin-right 50px
        .info
          display flex
          justify-content space-between
          height 30px
          font-family: Roboto;
          line-height: 25px;
          font-size: 15px;
          color: rgba(17, 15, 7, 0.75);
        .sc
          width 100%
          border-radius 5px
          height 10px
          background #EBEBEA
          .indie
            width 75%
            height 100%
            border-radius 5px
    .type
      color: #110F07;
      text-align center
      .ava
        margin-top 45px
        margin-bottom 45px
        width 140px
        imageBorder()
      p
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        font-size: 15px;
        text-align: center;
        max-width 80%
        margin auto
      h2
        font-family: Muller;
        line-height: 42px;
        font-size: 30px;
        margin auto
        margin-top 50px

    .you
      width calc(100% - 200px)
      margin-left 100px
      //height 300px
      border-bottom 1px solid #D3D3D1
      color: #110F07
      p
        max-width 650px
        margin auto
        font-family: Muller;
        line-height: 42px;
        font-size: 30px;
        margin-top 39px
        text-align: center;
        margin-bottom 50px
      h2
        font-family: Muller;
        font-size: 50px;
        text-align center
        margin-top 90px
@media (max-width: 1220px)
  .main
    .content
      .metrics
        .metric
          width 100%
          &:nth-child(even)
            margin-left 0px
          &:nth-child(odd)
            margin-right 0px

@media (max-width: 1220px)
  .main
    .content
      .friends
        .bottom_button
          flex-direction column
          img
            margin-right 0
            margin-bottom 20px


@media (max-width: 640px)
  .main
    margin-left 10px
    margin-right 10px
    width calc(100% - 20px)
    .content
      border none
      .you
        width 100%
        margin 0
        h2
          font-size 8vw
        p
          font-size 5vw

</style>
