<template>
  <div class="section_2">
    <div class="before" />
    <div class="title">
      <h2>Что можно узнать?</h2>
    </div>
    <div class="items">
      <div v-for="(it,i) in items" :key="i" class="item">
        <div style="position: relative;height: 150px;margin-bottom: 20px">
          <img :src="it.url" />
          <comming v-if="it.soon" style="position: absolute; bottom: 0;left: 25px" />
        </div>
        <div v-for="(sk,y) in it.skills" :key="y">{{sk}}</div>
      </div>
    </div>
    <div class="after" />
  </div>
</template>

<script>
import comming from './ui'
export default {
  components: {comming},
  data(){
    return {
      items: [
        {
          url: require('../assets/ben/one.svg'),
          skills: [
            'Внимательность', 'Мечтательность', 'Общительность', 'Задумчивость'
          ]
        },
        {
          url: require('../assets/ben/two.svg'),
          skills: [
            'Индекс', 'Влиятельности'
          ]
        },
        {
          url: require('../assets/ben/three.svg'),
          skills: [
            'Дружелюбие', 'Расчетливость', 'Планирование', 'Гибкость'
          ]
        },{
          url: require('../assets/ben/four.svg'),
          skills: [
            'Интересы'
          ]
        },{
          url: require('../assets/ben/five.svg'),
          skills: [
            'Dating'
          ],
          soon: true
        },{
          url: require('../assets/ben/six.svg'),
          skills: [
            'Профориентация'
          ],
          soon: true
        },{
          url: require('../assets/ben/six_1.svg'),
          skills: [
            'Нетворкинг'
          ],
          soon: true
        }
      ]
    }
  }
}
</script>

<style lang="stylus" scoped>
.section_2
  width 100vw // 2732 x 2700
  //height calc(100vw * 2732 / 2700 )
  background: linear-gradient(185.08deg, #F2F6FA 15.09%, #FFFFFF 110.03%)
  .before
    width 100%
    height 10vw
    background url('../assets/Union.svg') no-repeat center top
    background-size cover
  .after
    width 100%
    height 10vw
    background url('../assets/Union.svg') no-repeat center bottom
    background-size cover
  .title
    height 25%
    display flex
    align-items flex-end
    h2
      width 100%
      text-align center
      font-family: Muller;
      line-height: 49px
      font-size: 35px
      color: #110F07
  .items
    display flex
    align-items baseline
    justify-content center
    flex-wrap wrap
    padding-bottom 80px
    .item
      margin-left 60px
      margin-right 60px
      margin-top 50px
      img
        width 150px
      text-align center
      font-family: "Roboto"
      font-style: normal
      font-weight: 300
      line-height: 30px
      font-size: 18px
      color: #110F07
</style>
