<template>
  <div class="section_1">
    <div>
      <img :src="require('../assets/second.png')" />
    </div>
    <div>
      <h2>Узнавай интересы и психологические черты своего окружения VK</h2>
      <p><b>Little BRO</b> — это большие данные и немного психологии. Наша команда создала уникальный сервис, который позволяет на основе анализа данных социальных сетей понять, как мыслит человек, а также насколько ваши интересы и черты личности совместимы! <br/><br/><b>Мы помогаем использовать данные на благо людей ) <br/>в отличие от Большого брата ^^</b></p>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="stylus" scoped>
.section_1
  display flex
  div
    width 50%
    color: #110F07;
    h2
    p
      margin-left 30px
      margin-right 30px
    p
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: 30px;
      font-size: 18px;
    h2
      margin-top 50px
      font-family: Muller;
      line-height: 49px;
      font-size: 35px;
  img
    width 100%
@media (max-width: 960px)
  .section_1
    flex-direction column
    div
      width 100%
      max-width 640px
      margin auto
    img
      width 80%
</style>
