<template>
  <a :href="link" target="_new">
    <img :src="require('../assets/share.svg')" />
  </a>
</template>

<script>
export default {
  data: ()=>({
    link: `https://vk.com/share.php?url=http://data.plakot.ru&image=http://placehold.it/538x504&title=datafuel`
  })
}
</script>

<style lang="stylus">
</style>
