<template>
  <div class="ui-comming">СКОРО</div>
</template>

<style lang="stylus">
.ui-comming
  background: #FFBE73
  border-radius: 3px
  color white
  font-weight: bold
  line-height: 35px
  font-size: 18px
  text-transform: uppercase
  width: 100px
  height: 35px
  text-align center
</style>
