<template>
  <a style="cursor:pointer" @click="vk">
    <img :src="require('../assets/vk.svg')" />
  </a>
</template>

<script>
//import VK from 'vk-openapi';

export default {
  methods: {
    vk() {
      this.$cookie.set('uid', '_token');
      console.log(window.location.href);
      const uri = "http://datafuel.plakot.ru"
      window.location.href = `https://oauth.vk.com/authorize?client_id=5782432&display=page&redirect_uri=${uri}&scope=friends&response_type=code&v=5.92`
      // this.$router.push({path: 'profile'});
      // VK.Auth.login( session => {
      //   console.log(session);
      //   if(session.status === 'connected'){
      //     window.scrollTop = 0;
      //   }
      // })
    }
  }
}
</script>
