<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="stylus">

@import './assets/fonts/muller/Muller.css'
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

body
  margin: 0;

#app
  font-family: 'Muller';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

.full_f
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  text-align: center
  flex-direction: column
</style>
